# general things to ignore
services/domains_hch/1w-*.png
services/domains_hch/1w-*.svg
samodelkin_test.py
samodelkin-test.py
docker-compose.yml
connectors/google_meet_connector.py
connectors/jiraconnector.py
connectors/telegram_connector.py
migrations/
tmp/
tmp/*
.private/
.private/*
.idea/
.idea/*
dist/
__pycache__/
*.so
*~

# virtualenv
env*/
venv/
venv/*
.venv*
.venv/*
.env*

# codecov / coverage
.coverage
cov_*
coverage.xml

# due to using pytest, tox or ruff
.tox
.cache
.pytest_cache/
.python-version
pip
.mypy_cache/
.ruff_cache

# misc
tmp.txt
.DS_Store
logs/
*.db
.pytype/
.vscode

